<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>workTime</title>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
	<link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
	<style>
		/*common*/
		html {
			height: 100%;
		}
		body {
		    font:17px "microsoft yahei",Arial,Helvetica,sans-serif;
		    color:#000000;
		    margin:0;
		    padding:0;
		    height: 100%;
		    overflow: hidden;
		}

		ul,ol,p,h1,h2,h3,h4,h5,h6,dl,dt,dd {
		    margin:0;
		    padding:0;
		    list-style:none;
		}

		a {
		    color:#1f2d3d;
		    text-decoration:none;
		}
		a:hover {
				color:#545450;
				text-decoration:none;
		}
		a:focus {
		  color: #545450;
		  text-decoration: none;
		}
		label {
			cursor: pointer;
		}
		img {
			vertical-align:middle;
		}
		.left {
			float: left;
		}
		.right {
			float: right;
		}

	</style>
</head>
<body>
	<div id="main">
		<mt-header fixed title="考勤页面"></mt-header>
		<mt-datetime-picker
		  ref="picker"
		  type="date"
		  v-model="valueTime"
		  @confirm="handleChange">
		</mt-datetime-picker>
		<div style="margin-top: 50px;"></div>
		<mt-cell title="查看日期" @click.native="selectTime">
        	<span style="color: #20a0ff;">{{datePicker}}</span>
  		</mt-cell>
  		<mt-cell title="门店名称">{{store.name}}</mt-cell>
  		<mt-cell title="省份">{{store.province.name}}</mt-cell>
  		<mt-cell title="城市">{{store.city.name}}</mt-cell>
  		<mt-cell title="区域"><span v-if="store.district">{{store.district.name}}</span></mt-cell>
  		<mt-cell title="地址"><span v-if="store.location">{{store.location.address}}</span></mt-cell>
  		<!--<ul>
  			<li style="text-align: center; display: block; overflow: hidden; padding: 15px; background-color: #eef1f6;">
  				<div class="left" style="width: 50%;">促销员</div>
  				<div class="left" style="width: 50%;">手机号</div>
  			</li>
  			<li>
  				<div style="text-align: center; display: block; overflow: hidden; padding: 15px;">
  					<div class="left" style="width: 50%;">kong</div>
  					<div class="left" style="width: 50%;">18063229116</div>
  				</div>
  				<div style="background-color: #dfe6ec; padding: 30px;">22</div>
  			</li>
  		</ul>-->
  		<!-- 照片弹框 -->
	    <el-dialog title="照片" :visible.sync="dialogImg" size="full">
	      <img src="" alt="照片"/>
	    </el-dialog>
	    <div style="height: 10px;"></div>
  		<el-collapse>
	        <el-collapse-item>
          		<template slot="title">
            		kong / 18063229116
          		</template>
	            <ul>
	              <li style="border-left: 1px solid #eaeefa; padding: 20px;position: relative;">
	              	<span style="display: block; width: 20px; height: 20px; border-radius: 50%; background: #fff; border: 2px solid #20a0ff; position: absolute;top: 20px; left: -12px;"></span>
	              		09:30 / 排班开始
	              </li>
	              <li style="border-left: 1px solid #eaeefa; padding: 20px;position: relative;">
	                <span style="display: block; width: 15px; height: 15px; border-radius: 50%; background: #20a0ff; position: absolute;top: 24px; left: -8px;"></span>
	                10:00 / 上班 / 中国上海市普陀区长寿路239号 / <el-button size="small" @click="dialogImg = true">查看照片</el-button>
	              </li>
	            </ul>
	        </el-collapse-item>
      	</el-collapse>
	</div>
	<!-- 先引入 Vue -->
	<script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
	<script>
		var main = new Vue({
			el: '#main',
			data: {
				datePicker: '2017-10-24',
				valueTime: null,
				store: { // 门店信息
			        name: '乐购',
			        province: {name: '上海'},
			        city: {name: '上海市'},
			        district: {name: '普陀区'},
			        location: {
			          address: '中国上海市普陀区长寿路239号',
			        },
		      	},
		        dialogImg: false,
			},
			created () {

			},
			methods: {
				selectTime () {
					this.$refs.picker.open()
					var datePicker = this.datePicker
					this.valueTime = datePicker
				},
				handleChange (value) {
					this.datePicker = this.changedate(value, 'yyyy-MM-dd')
				},
				// 中国标准时间转换
			    changedate (time, format) {
			      var t = new Date(time);
			      var tf = function(i){return (i < 10 ? '0' : '') + i};
			      return format.replace(/yyyy|MM|dd|HH|mm|ss/g, function(a){
			        switch(a){
			          case 'yyyy':
			              return tf(t.getFullYear());
			              break;
			          case 'MM':
			              return tf(t.getMonth() + 1);
			              break;
			          case 'mm':
			              return tf(t.getMinutes());
			              break;
			          case 'dd':
			              return tf(t.getDate());
			              break;
			          case 'HH':
			              return tf(t.getHours());
			              break;
			          case 'ss':
			              return tf(t.getSeconds());
			              break;
			        }
			      })
			    },
			},
		})
	</script>
</body>
</html>