.futuzhuanru{
    .container{
        padding: 0 2.3rem;
        .photo-1{
            width: 100%;
            display: block;
            margin: 2.5rem auto 4.5rem;
        }
        .photo-2{
            width: 73%;
            display: block;
            margin: 2.7rem auto 5.7rem;
        }
        .photo-3{
            width: 68.2%;
            display: block;
            margin: 2.7rem auto 6rem;
        }
        .photo-4{
            width: 46.2%;
            display: block;
            margin: 2.6rem auto 5.5rem;
        }
    }
}