<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="pipei" patternSyntax="Wildcard">
                    <match url="*.*" negate="true" />
                    <action type="Rewrite" url="/mall/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
